.notice-page {
  width: 1050px;
  padding: 50px 0px 80px;
  margin: 0px auto;
  display: flex;
}

.board {
  margin: 0px auto;
  display: flex;
  justify-content: center;
}

.board-container {
  width: 820px;
}

.board-top {
  display: flex;
  align-items: center;
  padding: 10px 0px 37px;
}

.board-top h3 {
  font-weight: 500;
  font-size: 24px;
  color: rgb(51, 51, 51);
  letter-spacing: -0.5px;
}

.board-top span {
  padding-left: 15px;
  font-size: 14px;
  letter-spacing: -0.3px;
  color: rgb(153, 153, 153);
  line-height: 20px;
}

.write-btn {
  display: flex;
  justify-content: end;
  margin: 0 10px 20px 0;
}

.write-btn button {
  color: rgb(255, 255, 255);
  background-color: #ea5b50;
  border-radius: 3px;
  border: 0;
  width: 50px;
  height: 23px;
  cursor: pointer;
}

.write-btn button:hover {
  color: #ea5b50;
  background-color: rgb(255, 255, 255);
  border: 1px solid #ea5b50;
}

.board-container table {
  width: 100%;
  border-bottom: 1px solid rgb(244, 244, 244);
  border-collapse: collapse;
  border-spacing: 0;
}
