.container {
  position: relative;
  width: 1050px;
  height: 100px;
  margin: 0px auto;
  letter-spacing: -0.3px;
  /* display: flex;
      flex-direction: column;
      align-items: center; */
}

.top {
  position: absolute;
  height: 37px;
  right: 0px;
  display: flex;
  align-items: center;
  font-size: 12px;
}

.top a {
  text-decoration: none;
  color: #333;
  z-index: 10;
}

.top > a:first-child {
  color: #ea5b50;
  z-index: 10;
}

.top-bar {
  width: 1px;
  height: 13px;
  margin: 0px 12px;
  background-color: rgb(217, 217, 217);
}

.cs {
  line-height: 30px;
  position: relative;
  cursor: pointer;
  z-index: 10;
}

.triangle {
  width: 8px;
  height: 5px;
  background-image: url(../img/ico_down_16x10.png);
  background-size: cover;
  background-position: center center;
  /* 
    display: inline-block은
    기본적으로 inline 엘리먼트처럼 전후 줄바꿈 없이 한 줄에 다른 엘리먼트들과 나란히 배치되지만,
    block 엘리먼트처럼 width와 height 속성 지정 및 margin과 padding 속성의 상하 간격 지정이 가능 */
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 1px;
}

.dropdown-list {
  display: none;
  position: absolute;
  right: 0px;
  top: 27px;
  width: 85px;
  padding: 3px 9px;
  border: 1px solid rgb(221, 221, 221);
  background-color: rgb(255, 255, 255);
}

.cs:hover .dropdown-list {
  display: block;
}

.dropdown-list a {
  display: block;
  height: 24px;
  line-height: 24px;
  cursor: pointer;
}

.middle {
  position: relative;
  width: 1050px;
  padding-top: 36px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo {
  display: flex;
  align-items: center;
  height: 63px;
}

.logo img {
  width: 230px;
}

.gnb-bar {
  margin-left: 100px;
}

.search-bar {
  width: 400px;
  height: 48px;
  border: 1px solid #ea5b50;
  border-radius: 6px;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
}

.search-bar input {
  width: 300px;
  background-color: inherit;
  border: none;
  border-radius: 6px;
  outline: none;
  font-size: 16px;
  letter-spacing: -0.33px;
  padding-left: 20px;
}

.search-bar img {
  margin-left: 40px;
  width: 30px;
  height: 30px;
}

/* .header-frank {
  position: relative;
  width: 50px;
  z-index: 1;
} */

.frank {
  position: relative;
  width: 60px;
  height: 60px;
  z-index: 1;
  top: 7px;
  margin-left: 200px;
}

.frank-hand {
  position: absolute;
  z-index: 11;
  width: 13px;
  top: 91px;
  left: 936px;
}

.frank-body {
  position: absolute;
  z-index: 2;
}

.icon {
  display: flex;
}

.header-bottom {
  min-width: 1050px;
  letter-spacing: -0.3px;
  background-color: rgb(255, 255, 255);
  position: relative;
  box-shadow: rgb(0 0 0 / 7%) 0px 3px 4px 0px;
  width: 100%;
  margin: 0;
  z-index: 10;
  position: relative;
}

.bottom {
  width: 1050px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

.lnb ul {
  display: flex;
}

.lnb li {
  list-style: none;
  font-size: 15px;
  font-weight: 500;
}

.lnb li:nth-child(n + 2) {
  margin-left: 200px;
}
